<h1>Posts</h1>

<%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

<ul>
  <% @posts.each do |post| %>
    <li><%= post %></li> 
    <li><%= post.author if user_signed_in? %></li> 
    <li><%= post.title %></li>
    <li><%= post.body %></li>
  <% end %>
</ul>
 

  